#services:
#  postgres:
#    image: 'postgres:latest'
#    environment:
#      - 'POSTGRES_DB=mydatabase'
#      - 'POSTGRES_PASSWORD=secret'
#      - 'POSTGRES_USER=myuser'
#    ports:
#      - '5432'

version: '3.8'

services:

  postgres:
    image: postgres:18-alpine
    container_name: my-postgres

    environment:
      POSTGRES_DB: user_db
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword

    ports:
      - "5432:5432"


    volumes:
      - pgdata:/var/lib/postgresql/data

    restart: always

volumes:

  pgdata: